.img-thumbnail{
    height: 40px;
}

/* @media screen and (max-width: 576px) {

    .img-thumbnail{
        border: solid;
        position: absolute;
        margin-left: 60px;

    }
    .navbar-brand{
        border: solid;
    }

    
} */